div {
    input , select {
        height: 50px;
        @apply bg-deepblack; 
        border : 1px solid rgba(128, 128, 128, 0.388)
    }
    input {
        border-radius: 8px 0 0 8px ;
        width: 80%;
        @apply px-6 ; 
        border-right: 1px solid rgba(128, 128, 128, 0.388);
        &::placeholder {
            @apply px-4 
        }
        &:focus {
            outline: none;
        }
    }
    select {
        border-radius: 0 8px 8px 0;
        cursor: pointer;
        width: 20%;
        @apply px-2 ;   
    }
}
div.absolute {
    @apply top-16  ;
    background-color: rgba(0, 0, 0, 0.502);
    backdrop-filter: blur(16px);
    border: 1px solid gray;
    border-radius: 0 0 8px 8px ; 
    left: 43%;
    transform: translate(-43%,0);
    width: 650px;
    height: 200px;
    ul {
        width: 100%;
        li {
            @apply px-4 py-1; 
            height: 50px;
            width: 100%;
            p {
                font: bold;
            }
        }
    }

}