<main
  class="bg-[url(assets/bbblurry.svg)] bg-cover py-32 px-16 w-full flex items-center flex-col space-y-8 overflow-hidden relative z-10"
  id="header"
>
  <div
    class="rounded-full border-[1px] border-white w-80 px-4 py-1 flex justify-center space-x-2 mt-12"
    style="
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.263);
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.167),
        0 0 20px rgba(255, 255, 255, 0.151), 0 0 30px rgba(255, 255, 255, 0.16);
    "
  >
    <lucide-icon name="sparkles" color="white" ></lucide-icon>
    <h3>We are currently recruting</h3>
  </div>
  <div class="mb-2 text-center">
    <h1 class="mt-0 mb-4">
      Join the
      <span class="bg-clip-text text-transparent geeks"> Geeks </span>
      and get ready to shine !
    </h1>
    <p class="text-gray-500">
      Ready to share your creativity and solve problems?
    </p>
  </div>
  <div
    class="effect text-gray-400 flex flex-col justify-center items-center text-xl mt-4 relative reveal-me bg-[#0000008a] hover:bg-[##00000096]"
  >
    <div
      class="absolute top-0 left-0 w-full h-12 flex justify-between px-4 py-1 items-center header"
    >
      <p class="text-sm">index.html</p>
      <div class="flex space-x-2">
        <div class="bg-red-500 h-3 w-3 rounded-full"></div>
        <div class="bg-yellow-500 h-3 w-3 rounded-full"></div>
        <div class="bg-green-500 h-3 w-3 rounded-full"></div>
      </div>
    </div>
    <div class="w-full flex items-center justify-center h-full flex-col">
      <p class="mb-3 anonymous">
        <span class="text-main">&lt;body&gt;</span> We are not just developers ,
        we are problems solvers.
      </p>
      <p class="anonymous">
        Join our team and start a new journey full of adventure !
        <span class="text-white animate-pulse ease-linear">|</span>
        <span class="text-main">&lt;/body&gt;</span>
      </p>
      <div class="flex items-center justify-between mt-12 w-[25%]">
        <button class="join text-base" routerLink="register">Join us</button>
        <button class="dashed-button text-base" (click)="scroll()">
          Read more
        </button>
      </div>
    </div>
  </div>
  <div class="alert">
    <div class="main__action">
      <span class="main__scroll" (click)="scroll()">
        <div class="main__scroll-box">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M11.9997 13.1716L7.04996     8.22186L5.63574 9.63607L11.9997 16L18.3637 9.63607L16.9495 8.22186L11.9997 13.1716Z"
              fill="white"
            ></path>
          </svg>
        </div>

        <span class="main__scroll-text">Scroll</span>
      </span>
    </div>
  </div>
  <div class="loader absolute bottom-[320px] -z-10">
    <span></span>
  </div>
  <img
    src="assets/raddareffect.svg"
    alt=""
    class="absolute opacity-20 bottom-0 -z-20"
  />
</main>
<hr class="opacity-20" />
