<footer
  class="h-[300px] w-full border-t-[1px] border-t-gray-500 grid grid-cols-6 text-white py-6 "
>
  <div class="col-span-2 text-center space-y-3 items-center flex-col">
    <h2>
      <span class="text-second">&lt;</span>Geeks<span class="text-second"
        >&gt;</span
      >
    </h2>
    <p class="text-sm text-gray-500">
      Where creativity merges with technologie . 
    </p>
  </div>
  <div class="col-span-2  items-center space-x-24">
    <div class="space-y-4">
      <h3>Discover</h3>
      <ul class="text-gray-500 space-y-2">
        <li routerLink="/">Home</li>
        <li routerLink="/register">Regitser</li>
        <li routerLink="/login">Login</li>
        <li routerLink="/login/admin">Admin</li>
      </ul>
    </div>
    <div class="space-y-4">
        <h3>Read more</h3>
        <ul class="text-gray-500 space-y-2 ">
            <li routerLink="/statics/founder">About founder</li>
            <li routerLink="/statics/policy">General Terms</li>
            <li routerLink="/statics/sponsoring">Sponsoring</li>
            <li routerLink="/statics/articles">Articles</li>
        </ul>
    </div>
  </div>
  <div class="col-span-2 items-center flex-col space-y-4">
    <div class="donate bg-deepblack " routerLink="/statics/donate">
        <div>
            <lucide-icon name="heart-handshake" color="#ffae00" size="32" class="final"></lucide-icon>
        </div>
        <div class="col-span-5 text-center">
            <p class="">Donate now !</p>
        </div>
    </div>
    <p class="text-sm text-gray-500">All the donations will be part of our act !</p>
  </div>
</footer>
