<hr class="opacity-20 mb-24 mt-24" />
<div
  class="h-[1000px] px-40 text-white flex flex-col items-center mt-24 w-full"
  id="activities"
>
  <h1 class="mb-12">Activities</h1>
  <div
    class="backdrop-blur-lg h-auto w-full backdrop-filter backdrop-opacity-10 flex flex-col items-center py-12 border-[1px] border-gray-600 rounded-lg reveal-element-buttom"
  >
    <ng-container *ngFor="let activity of activities">
      <app-activity
        [title]="activity.title"
        [date]="activity.date"
        [desc]="activity.descreption"
        [participants]="activity.participants.length"
      ></app-activity>
    </ng-container>
  </div>
</div>
