img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
}
.user {
  @apply bg-deepblack w-52 h-12 flex justify-between px-6 items-center rounded-lg border-[1px] border-gray-600 transition-all;
  cursor: pointer;
  &:hover {
    background-color: #0d0d0db1;
  }
}
.logout {
  color: white;
  cursor: pointer;
  @apply transition-all ; 
  &:hover {
    color: #ef4444;
  }
}
