img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
}
.user {
  @apply bg-black w-auto h-12 flex justify-between gap-4 px-6 items-center rounded-lg border-[1px] border-gray-600 transition-all hover:bg-third;
  min-width: 200px; 
  cursor: pointer;
}
.logout {
  color: white;
  cursor: pointer;
  @apply transition-all ; 
  &:hover {
    color: #ef4444;
  }
}
