<div class="flex items-center gap-4">
  <lucide-angular name="home" size="48"></lucide-angular>
  <h1>Admin Dashboard</h1>
</div>
<div class="grid grid-cols-3 gap-4 mt-28" *ngIf="!isLoading; else load">
  <app-overview-block
    title="Total Members"
    [count]="membersTotal"
    icon="user-2"
    link="/members"
  ></app-overview-block>
  <app-overview-block
    title="Total Forums"
    [count]="forums.length"
    icon="messages-square"
    link="/forums"
  ></app-overview-block>
  <app-overview-block
    title="Total Events"
    [count]="events.length"
    icon="calendar-clock"
    link="/events"
  ></app-overview-block>
</div>
<ng-template #load>
  <div class="w-full mt-28">
    <app-loading></app-loading>
  </div>
</ng-template>
<h2 class="mt-12">Quick actions</h2>
<div class="grid grid-cols-3 gap-6 mt-4">
  <app-quick-action
    title="New Event"
    icon="calendar-plus"
    link="/events/new"
  ></app-quick-action>
  <app-quick-action
    title="New Forum"
    icon="message-square-plus"
    link="/forums/new"
  ></app-quick-action>
  <app-quick-action
    title="Check Register"
    icon="user-check"
    link="/members/list"
    [query]="'true'"
  ></app-quick-action>
</div>
<h1 class="mt-14 ">Stats</h1>
<div class="grid grid-cols-2 mt-8">
  <div class="col-span-1">
    <h2 class="mb-4 ">Forums Activities Overview : </h2>
    <canvas id="forumsStats"></canvas>
  </div>
  <div class="col-span-1">
    <h2 class="mb-4 ">Member's Points Overview : </h2>
    <canvas id="membersStats"></canvas>
  </div>
</div>
