div {
    border : 1px solid rgba(40, 226, 9, 0.2) ;    
    background-color: rgba(26, 232, 47, 0.04);
    animation: show 2s ease-in-out;
    backdrop-filter: blur(5px);
    opacity: 0;
}
@keyframes show {
    0% {
        right: -400px;
        opacity: 0.5;
    }
    40% {
        right: 12px;
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}