<div class="flex items-center justify-between">
  <div class="flex items-center gap-4">
    <lucide-angular name="newspaper" size="48"></lucide-angular>
    <h1>List of all articles</h1>
  </div>
  <button class="new-button" routerLink="/admin/articles/new">
    <lucide-angular name="file-plus"></lucide-angular>
    <p>Add new Article</p>
  </button>
</div>

<table class="mt-14">
  <tr class="head ">
    <th>Title</th>
    <th>Brief Content</th>
    <th>Actions</th> 
  </tr>
  <tr *ngFor="let article of articles ; index as index" class="body" [appTableColor]="index" >
    <td>{{article.title}} </td>
    <td>{{article.content | shorten }} </td>
    <td  class="flex gap-6 items-center justify-center h-14">
        <button [routerLink]="'/admin/articles/'+article._id" >
             <lucide-angular name="eye"></lucide-angular>
        </button>
        <button (click)="handleDelete(article._id)">
            <lucide-angular name="trash"></lucide-angular>
        </button>
    </td>
  </tr>
  <ng-container *ngIf="articles && articles.length===0">
    <h2 class="mt-4">No articles have been published</h2>
  </ng-container>
</table>
