<app-navbar></app-navbar>
<div class="h-[80vh] anonymous flex items-center justify-center" >
  <div class="prompt anonymous" >
    <div class="header">
      <p class="text-black">Command Prompt</p>
      <div class="circles">
        <div class="bg-red-500"></div>
        <div class="bg-yellow-500"></div>
        <div class="bg-green-500"></div>
      </div>
    </div>
    <div class="body text-white">
      <p>
        Microsoft Windows [Version 10.0.22621.2715]<br />
        (c) Microsoft Corporation. All rights reserved.
      </p>
      <p class="mt-2">Enter your email :</p>
      <form [formGroup]="form" (keydown)="handleKeyPress($event)">
        <div class="flex gap-4">
          <p class="text-red-500">email&gt;</p>
          <input
            type="text"
            type="email"
            placeholder=". . . . . . ."
            formControlName="email"
          />
        </div>
        <p class="mt-2">Enter your password :</p>
        <div class="flex gap-4">
          <p class="text-red-500">password&gt;</p>
          <input
            type="text"
            type="password"
            placeholder=". . . . . . ."
            formControlName="password"
          />
        </div>
        <p class="text-yellow-500 mt-4 font-bold">Press enter to login <span class="animate-ping">|</span> </p>
        <div *ngIf="error">
            <p class="text-red-500 font-bold">{{errorMessage}} </p>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
