<div class="main">
  <div [ngClass]="status ? 'true' : 'false'">
    <h1 class="flex gap-4 items-center">
      {{ title }}
      <ng-container *ngIf="status; false">
        <lucide-icon name="laugh" size="48"></lucide-icon>  
      </ng-container>
      <ng-template #false>
        <lucide-icon name="frown" size="48"></lucide-icon> 
      </ng-template>
    </h1>

    <p>{{ message }}</p>
    <button
      (click)="emithidden()"
      class="flex gap-4 border-[1px] border-white rounded-lg px-4 py-2 mt-12"
    >
      <lucide-icon name="x-circle"></lucide-icon>
      Close
    </button>
  </div>
</div>
