div {
    min-height: 150px;
    &:hover {
        background-color: rgba(255, 0, 191, 0.105);
        cursor: pointer;
    }
}
input {
    background-color: transparent;
    width: 100%;
    margin-top: 16px;
    border:1px solid gray;
    border-radius: 16px;
    @apply px-4 py-2;
    &:focus {
        outline: none;
    }
}