<div class="text-white px-24 pt-12 reveal" *ngIf="events ; else load">
    <h1>Liste of your events</h1>
    <div *ngIf="listParticipation ; else listParticipationButton">
      <ng-container *ngIf="events.length > 0 ; else noParticiaption">
        <div *ngFor="let event of events" class="space-y-4 mt-12 mb-8">
          <app-event [event]="event"></app-event>
        </div>
      </ng-container>
      <ng-template #noParticiaption>
        <div class="mt-8">
          <h3 class="font-normal mb-16">
            You haven't participated in any event recently . . .
          </h3>
        </div>
      </ng-template>
    </div>
    <ng-template #listParticipationButton>
      <button class="default-button mt-8 mb-14" (click)="listParticipation=!listParticipation">
          <lucide-angular name="calendar-range"></lucide-angular>
          <p>Participated Events</p>
      </button>
    </ng-template>
    <hr />
    <h1 class="mt-16">Liste of all the events</h1>
    <div class="filter flex items-center justify-between mt-6">
      <div class="flex gap-4 items-center px-4">
        <lucide-angular name="search" color="gray"></lucide-angular>
        <input
          type="text"
          (input)="handleSearch($event)"
          placeholder="Search an event"
        />
      </div>
      <select (change)="handleCategorie($event)">
          <option value="all">All</option>
          <option value="formation">Formation</option>
          <option value="reunion">Reunion</option>
          <option value="assignment">Assignment</option>
          <option value="event">Event</option>
      </select>
    </div>
    <div class="flex flex-col space-y-12 mt-12">
      <ng-container *ngFor="let event of toDisplay">
        <app-event [event]="event"></app-event>
      </ng-container>
    </div>
    <h2 *ngIf="toDisplay.length===0">No events with such a filter</h2>
  </div>
  <ng-template #load>
    <app-loading></app-loading>
  </ng-template>