<h1>Add new Admin</h1>
<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <div class="grid grid-cols-2 gap-6">
    <div class="input--container col-span-1">
      <label for="">Name</label>
      <input
        type="text"
        placeholder="Enter the admin's name"
        class="border-[1px] border-gray-500"
        formControlName="name"
      />
      <div class="input-error" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
        <lucide-angular name="alert-circle"></lucide-angular>
        <p>Invalid Name</p>
      </div>
    </div>
    <div class="input--container col-span-1">
      <label for="">Forname</label>
      <input
        type="text"
        placeholder="Enter the admin's forname"
        class="border-[1px] border-gray-500"
        formControlName="forname"
      />
      <div class="input-error" *ngIf="form.get('forname')?.invalid && form.get('forname')?.touched">
        <lucide-angular name="alert-circle"></lucide-angular>
        <p>Invalid Forname</p>
      </div>
    </div>
    <div class="input--container col-span-1">
      <label for="">Age</label>
      <input
        type="number"
        placeholder="Enter the admin's age"
        class="border-[1px] border-gray-500"
        formControlName="age"
      />
      <div class="input-error" *ngIf="form.get('age')?.invalid && form.get('age')?.touched">
        <lucide-angular name="alert-circle"></lucide-angular>
        <p>Invalid Age</p>
      </div>
    </div>
    <div class="input--container col-span-1">
      <label for="">Email</label>
      <input
        type="text"
        placeholder="Enter the admin's email"
        class="border-[1px] border-gray-500"
        formControlName="email"
      />
      <div class="input-error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        <lucide-angular name="alert-circle"></lucide-angular>
        <p>Invalid Email</p>
      </div>
    </div>
    <div class="input--container col-span-1">
      <label for="">Password</label>
      <input
        type="password"
        placeholder="Enter the admin's password"
        class="border-[1px] border-gray-500"
        formControlName="password"
      />
      <div class="input-error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
        <lucide-angular name="alert-circle"></lucide-angular>
        <p>Invalid Password</p>
      </div>
    </div>
    <div class="input--container col-span-1">
      <label for="">Facebook</label>
      <input
        type="text"
        placeholder="Enter the admin's facebook"
        class="border-[1px] border-gray-500"
        formControlName="facebook"
      />
      <div class="input-error" *ngIf="form.get('facebook')?.invalid && form.get('facebook')?.touched">
        <lucide-angular name="alert-circle"></lucide-angular>
        <p>Invalid Facebook Profile</p>
      </div>
    </div>
    <div class="input--container col-span-1">
      <label for="">Phone</label>
      <input
        type="number"
        placeholder="Enter the admin's phone"
        class="border-[1px] border-gray-500"
        formControlName="phone"
      />
      <div class="input-error" *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched">
        <lucide-angular name="alert-circle"></lucide-angular>
        <p>Invalid Phone Number</p>
      </div>
    </div>
    <div class="input--container col-span-1">
      <label>Role</label>
      <br />
      <select
        formControlName="role"
        class="mt-2 border-[1px] border-gray-500 w-full"
      >
        <option *ngFor="let role of roles" [value]="role">{{role}}</option>
      </select>
    </div>
  </div>
  <div class="flex gap-6 mt-6">
    <button class="succuss-button" type="submit" [disabled]="form.invalid" >
      <lucide-angular name="plus-circle"></lucide-angular>
      <p>Add</p>
    </button>
    <button class="default-button" (click)="form.reset()" type="button">
      <lucide-angular name="rotate-ccw"></lucide-angular>
      <p>Reset</p>
    </button>
  </div>
</form>
<ng-container *ngIf="added">
    <app-notification message="Admin added successfully" color="green" icon="check-circle-2"></app-notification>
</ng-container>
<ng-container *ngIf="error">
    <app-notification message="Errpr Occured : Cannot add Admin" color="red" icon="x-circle"></app-notification>
</ng-container>
