
<div class="text-white mt-32 px-36 mb-24">
    <div>
        <h1>General Terms of Application</h1>
        <p>To apply for the club , there are no specific conditions that should be present in the member that excced average students requiremenets . Most of the requiremenet are directly related to the 
            the club's objective and will , in one way or another , be reflected directly on the club by the impact that a member could give.
            For this , we require some strict conditions that should apply to members in order to get accepted.
            Those are some of the most important points
        </p>
        <ul class="list-disc list-inside">
            <li class="list-item ">Knowledge</li>
            <li>Discipline</li>
            <li>Creativity</li>
        </ul>
        <h2>Knowledge</h2>
        <p>
            Joining on this club requires a member's knowledge of basic programming skills along with an average problem solving mindset . Langages and frameworks 
            don't really make a difference as in this club , we will be flexible with countless tech stacks and langages that highly matches the problem's requirment .
            You can prove your skills by passing a technical test (problem solving test) after your application , which will decide whether you join in or not.
        </p>
        <h2>Discipline</h2>
        <p>
            Discipline is one of the major points that a member should be aware of . As we are working on solving real world problems , such a task should come 
            with a lot of discipline and dedication. The club's work flow is based on continuous development and integration . This  requires active members that 
            will not just work on solving those problems once and for all. A solution is basically a temporare one until we came up with the perfect one . For this 
            members should be open to changes and to re-work on ideas several times . Which brings us to the next point : Creativity
        </p>
        <h2>Creativity </h2>
        <p>
            Creativity is one of the major keys to make our work significant and meaningfull . In a world full of developpers , coming up with a solution to problems
            is a daily task realeased by endless number of developpers . What really makes a solution usefull and reliable , is the way it was fitted and the creative 
            way of solving the problem . At the end of it all , our mission is not to write code only , but to write it in an optimized way and taking the solution from 
            different visions thanks to the creative way of thinking . Creativity is a gift , you could basically "practice" it in this club .
        </p>
        <h1>Rules </h1>
        <ul class="list-inside list-disc">
            <li>Repsect other members</li>
            <li>Get your tasks done in time</li>
            <li>Be gentle</li>
            <li>Forums are just for club's matter</li>
        </ul>
        <p>We are flexible with the work flow of the club during exams periodes .</p>
        <p>Swearing in public conversation will cause a temporary suspend of the member</p>
        <p>Bullying is unacceptable and will cause temporary suspend or banning the member </p>
    </div>
</div>
