<app-navbar></app-navbar>
<div class="w-[100vw] h-[85vh] flex flex-col px-28 py-12 text-white mt-24">
    <div class="border-[1px] border-white rounded-lg w-full h-full  items-center flex flex-col py-12 gap-12">
        <div class="founder__img ">

        </div>
        <div class="flex justify-between">
            <div class="flex flex-col justify-center items-center gap-4">
                <h1>Riahi Yassin</h1>
                <p>MEAN/MERN Junior Developer | Junior Game Developer | CLI Tools Builder</p>
            </div>
            <div class="skills">
                
            </div>
        </div>
    </div>
</div>