<div class="flex items-center justify-between">
<div class="flex gap-6">
  <lucide-angular name="messages-square" size="48"></lucide-angular>
  <h1>Forums</h1>
</div>
    <button class="new-button" routerLink="/admin/forums/new">
        <lucide-angular name="form-input"></lucide-angular>
        <p>Add new Forum</p>
    </button>
</div>
<ng-container *ngIf="forum; else load">
  <table class="w-full rounded-lg overflow-hidden mt-14 text-center">
    <tr class="bg-second h-16 rounded-lg">
      <th>Name</th>
      <th>Descreption</th>
      <th>Members</th>
      <th>Articles</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let f of forum ; index as index" class="h-14" [appTableColor]="index"  >
      <td>{{ f.name }}</td>
      <td>{{ f.descreption | shorten }}</td>
      <td>{{ f.members.length }}</td>
      <td>{{ f.articles.length }}</td>
      <td class="flex items-center gap-4 justify-center h-14">
        <button [routerLink]="'/admin/forums/' + f._id">
          <lucide-angular name="eye"></lucide-angular>
        </button>
        <button (click)="handleDelete(f._id)">
          <lucide-angular name="trash"></lucide-angular>
        </button>
      </td>
    </tr>
    <ng-container *ngIf="forum.length==0">
      <h2 class="mt-4">No forums have been added</h2>

    </ng-container>
  </table>
</ng-container>
<ng-template #load>
  <app-loading></app-loading>
</ng-template>
