<div class="grid grid-cols-8  py-2 rounded-lg" [ngClass]="type=='warning' ? 'warning' : type=='success' ? 'success' : 'danger'">
    <div class="col-span-2 flex items-center px-4">
        <lucide-icon name="alert-circle" *ngIf="type=='warning'"></lucide-icon>
        <lucide-icon name="check-circle-2" *ngIf="type=='success'"></lucide-icon>
        <lucide-icon name="x-circle" *ngIf="type=='danger'"></lucide-icon>
    </div>
    <div class="col-span-6 text-center">
        {{message}}
    </div>
</div>
