<app-navbar></app-navbar>
<div class="w-full text-white px-24 mt-24">
  <div
    class="py-12 h-[800px] rounded-lg bg-black mt-32 w-full border-[1px] border-gray-500 flex items-center flex-col mb-28"
  >
    <div class="flex items-center flex-col">
      <h2>Regitser</h2>
      <p class="text-sm text-gray-500 mt-2">Apply now and join the crew !</p>
    </div>
    <form
      [formGroup]="form"
      class="grid grid-cols-2 gap-6"
      (ngSubmit)="submit()"
    >
      <div class="col-span-2">
        <div class="grid w-full items-center gap-1.5">
          <input
            id="picture"
            type="file"
            accept="image/*"
            class="flex h-10 w-full rounded-md border border-input bg-white px-3 py-2 text-sm text-gray-400 file:border-0 file:bg-transparent file:text-gray-600 file:text-sm file:font-medium"
            (change)="handleImage($event)" formControlName="image"
            />
        </div>
      </div>
      <div class="">
        <input
          type="text"
          formControlName="name"
          placeholder="Enter yout name"
        />
        <div
          *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
          class="flex space-x-4 items-center mt-2"
        >
          <lucide-icon name="info" color="#ef4444" size="16"></lucide-icon>
          <p class="text-sm text-red-500">Invalid name</p>
        </div>
      </div>
      <div class="">
        <input
          type="text"
          formControlName="forname"
          placeholder="Enter yout forname"
        />
        <div
          *ngIf="form.get('forname')?.invalid && form.get('forname')?.touched"
          class="flex space-x-4 items-center mt-2"
        >
          <lucide-icon name="info" color="#ef4444" size="16"></lucide-icon>
          <p class="text-sm text-red-500">Invalid forname</p>
        </div>
      </div>
      <div class="">
        <input type="text" formControlName="age" placeholder="Enter yout age" />
        <div
          *ngIf="form.get('age')?.invalid && form.get('age')?.touched"
          class="flex space-x-4 items-center mt-2"
        >
          <lucide-icon name="info" color="#ef4444" size="16"></lucide-icon>
          <p class="text-sm text-red-500">Invalid Age : 16 &lt; Age &gt; 22</p>
        </div>
      </div>

      <div class="">
        <input type="text" formControlName="CIN" placeholder="Enter yout CIN" />
        <div
          *ngIf="form.get('CIN')?.invalid && form.get('CIN')?.touched"
          class="flex space-x-4 items-center mt-2"
        >
          <lucide-icon name="info" color="#ef4444" size="16"></lucide-icon>
          <p class="text-sm text-red-500">Invalid CIN</p>
        </div>
      </div>
      <div class="flex flex-col">
        <div
          class="overflow-hidden grid grid-cols-10 items-center custom-input"
        >
          <div class="icon--container">
            <lucide-icon name="at-sign" color="gray"></lucide-icon>
          </div>
          <input
            type="email"
            class="col-span-9"
            id=""
            formControlName="email"
            placeholder="Enter your email"
          />
        </div>
        <div
          *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
          class="flex space-x-4 items-center mt-2"
        >
          <lucide-icon name="info" color="#ef4444" size="16"></lucide-icon>
          <p class="text-sm text-red-500">Invalid Email</p>
        </div>
      </div>
      <div class="flex flex-col">
        <div
          class="overflow-hidden grid grid-cols-10 items-center custom-input"
        >
          <div class="icon--container">
            <lucide-icon name="lock" color="gray"></lucide-icon>
          </div>
          <input
            type="password"
            class="col-span-9"
            id=""
            formControlName="password"
            placeholder="Enter your password"
          />
        </div>
        <div
          *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
          class="flex space-x-4 items-center mt-2"
        >
          <lucide-icon name="info" color="#ef4444" size="16"></lucide-icon>
          <p class="text-sm text-red-500">Invalid Password</p>
        </div>
      </div>
      <div formGroupName="address" class="grid grid-cols-3 gap-4 col-span-2">
        <div class="flex flex-col">
          <input type="text" placeholder="City" formControlName="city" />
          <div
            *ngIf="
              form.get('address')?.get('city')?.invalid &&
              form.get('address')?.get('city')?.touched
            "
            class="flex space-x-4 items-center mt-2"
          >
            <lucide-icon name="info" color="#ef4444" size="16"></lucide-icon>
            <p class="text-sm text-red-500">Invalid City Name</p>
          </div>
        </div>
        <div class="flex flex-col">
          <input type="text" placeholder="Region" formControlName="region" />
          <div
            *ngIf="
              form.get('address')?.get('region')?.invalid &&
              form.get('address')?.get('region')?.touched
            "
            class="flex space-x-4 items-center mt-2"
          >
            <lucide-icon name="info" color="#ef4444" size="16"></lucide-icon>
            <p class="text-sm text-red-500">Invalid Region Name</p>
          </div>
        </div>
        <div class="flex flex-col">
          <input
            type="text"
            placeholder="Country"
            formControlName="country"
            readonly
          />
          <div
            *ngIf="
              form.get('address')?.get('country')?.invalid &&
              form.get('address')?.get('country')?.touched
            "
            class="flex space-x-4 items-center mt-2"
          >
            <lucide-icon name="info" color="#ef4444" size="16"></lucide-icon>
            <p class="text-sm text-red-500">Invalid Country Name</p>
          </div>
        </div>
      </div>
      <div class="flex flex-col">
        <div
          class="overflow-hidden grid grid-cols-10 items-center custom-input"
        >
          <div class="icon--container">
            <lucide-icon name="facebook" color="gray"></lucide-icon>
          </div>
          <input
            type="text"
            class="col-span-9"
            id=""
            formControlName="facebook"
            placeholder="Enter your facebook"
          />
        </div>
        <div
          *ngIf="form.get('facebook')?.invalid && form.get('facebook')?.touched"
          class="flex space-x-4 items-center mt-2"
        >
          <lucide-icon name="info" color="#ef4444" size="16"></lucide-icon>
          <p class="text-sm text-red-500">Invalid Facebook Link</p>
        </div>
      </div>
      <div class="flex flex-col">
        <div
          class="overflow-hidden grid grid-cols-10 items-center custom-input"
        >
          <div class="icon--container">
            <lucide-icon name="phone" color="gray"></lucide-icon>
          </div>
          <input
            type="text"
            class="col-span-9"
            id=""
            formControlName="phone"
            placeholder="Enter your phone"
          />
        </div>
        <div
          *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched"
          class="flex space-x-4 items-center mt-2"
        >
          <lucide-icon name="info" color="#ef4444" size="16"></lucide-icon>
          <p class="text-sm text-red-500">Invalid Phone Number</p>
        </div>
      </div>
      <ng-container formGroupName="recovery_question">
        <div>
          <div
            class="overflow-hidden grid grid-cols-10 items-center custom-input"
          >
            <div class="icon--container">
              <lucide-icon name="help-circle" color="gray"></lucide-icon>
            </div>
            <select
              formControlName="question"
              id=""
              class="col-span-9 cursor-pointer"
            >
              <ng-container *ngFor="let question of questions">
                <option [value]="question.question">
                  {{ question.question }}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="flex flex-col">
          <div
            class="overflow-hidden grid grid-cols-10 items-center custom-input"
          >
            <div class="icon--container">
              <lucide-icon name="pencil-line" color="gray"></lucide-icon>
            </div>
            <input
              type="text"
              class="col-span-9"
              id=""
              formControlName="answer"
              placeholder="Enter your answer"
            />
          </div>
          <div
            *ngIf="form.get('answer')?.invalid && form.get('answer')?.touched"
            class="flex space-x-4 items-center mt-2"
          >
            <lucide-icon name="info" color="#ef4444" size="16"></lucide-icon>
            <p class="text-sm text-red-500">Invalid Answer</p>
          </div>
        </div>
      </ng-container>
      <div class="col-span-2 flex items-center justify-center">
        <button
          class="border-[1px] border-gray-500 rounded-xl w-36 h-12"
          type="submit"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
<ng-container *ngIf="trigger">
  <app-notification
    icon="x-circle"
    prime="#C70039"
    second="#FF6969"
    message="Please fill in correctly the form"
  ></app-notification>
</ng-container>
<ng-container *ngIf="alert">
  <app-alert
    [title]="alert.title"
    [message]="alert.message"
    [status]="alert.status"
    (hide)="handleHide()"
  ></app-alert>
</ng-container>
<app-footer></app-footer>
