@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./scss//mixin";

@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter:wght@100;200;300;400;500&family=Poppins:wght@100;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Poppins:wght@100;300;400;600&display=swap");
body {
  @apply bg-black text-white;
}

* {
  font-family: "Inter", sans-serif;
}
h1 {
  @apply text-5xl font-bold;
}
h2 {
  @apply text-3xl font-bold;
}
h4 {
  @apply text-xl font-bold;
}
.button {
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    rgba(217, 0, 255, 0.242) 0%,
    rgba(247, 0, 231, 0.261) 66%,
    rgba(255, 0, 183, 0.243) 100%
  );
  color: rgb(218, 218, 218);
  border: none;
  padding: 2px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 40px;
}

.button span {
  height: 40px;
  border-radius: 10px;
  padding: 0.8em 1.3em;
  padding-right: 1.2em;
  text-shadow: 0px 0px 20px #4b4b4b;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  color: inherit;
  transition: all 0.3s;
  background-color: rgb(8, 8, 8);
  background-image: radial-gradient(
      at 95% 89%,
      rgb(15, 15, 15) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 100%, rgb(17, 17, 17) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(29, 29, 29) 0px, transparent 50%);
}

.button:hover span {
  background-color: rgb(26, 25, 25);
}
h3 {
  @apply text-xl font-bold;
}
.anonymous {
  font-family: "Anonymous Pro";
}
.dashed-button {
  @apply border-[1px] border-dashed border-white rounded-lg px-4 py-2;
}
.error--container {
  background-color: rgba(255, 0, 0, 0.169);
  width: 80vw;
  height: 200px;
  @include flex(true);
  justify-content: center;
  gap: 16px;
  border-radius: 8px;
}

.main-button {
  @apply px-4 py-2 rounded-lg flex gap-4 transition-all
}
.succuss-button {
  @extend .main-button ; 
  @apply  bg-green-500 hover:bg-green-600;
}
.danger-button {
  @extend .main-button ; 
  @apply  bg-red-500  hover:bg-red-600;
}
.warning-button {
  @extend .main-button ; 
  @apply  bg-yellow-500  hover:bg-yellow-600;
}
.default-button {
  @extend .main-button ; 
  @apply  bg-gray-500  hover:bg-gray-600;
}
.third-button {
  @extend .main-button ; 
  @apply  bg-third  hover:bg-lightthird;
}
.ng-invalid.ng-touched {
  @apply border-red-500
}
.input--container {
  @apply mt-8 ; 
  input {
      width: 100%;
      height: 50px;
      @apply bg-transparent rounded-lg text-white  mt-2; 
  }

}
label {
  color:gray
}

.input-error {
  @apply flex gap-4 items-center text-red-500 mt-2
}
.new-button {
  @apply flex gap-4 border-[1px] border-main hover:bg-main transition-all rounded-lg px-4 py-2
}
table {
  @apply w-full text-center rounded-t-lg overflow-hidden ; 
  .head {
    @apply bg-second h-16  
  }
  .body {
    @apply h-14
  }
}
input[type="file"] {
  @apply flex h-10 w-full rounded-md bg-black  px-3 py-2 text-sm text-gray-400 file:border-0 file:bg-transparent file:text-white file:text-sm file:font-normal
}