@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./scss//mixin";

@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter:wght@100;200;300;400;500&family=Poppins:wght@100;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Poppins:wght@100;300;400;600&display=swap");
body {
  @apply bg-black;
}

* {
  font-family: "Inter", sans-serif;
}
h1 {
  @apply text-5xl font-bold;
}
h2 {
  @apply text-3xl font-bold;
}
h4 {
  @apply text-xl font-bold;
}
.button {
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    rgba(217, 0, 255, 0.242) 0%,
    rgba(247, 0, 231, 0.261) 66%,
    rgba(255, 0, 183, 0.243) 100%
  );
  color: rgb(218, 218, 218);
  border: none;
  padding: 2px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 40px;
}

.button span {
  height: 40px;
  border-radius: 10px;
  padding: 0.8em 1.3em;
  padding-right: 1.2em;
  text-shadow: 0px 0px 20px #4b4b4b;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  color: inherit;
  transition: all 0.3s;
  background-color: rgb(8, 8, 8);
  background-image: radial-gradient(
      at 95% 89%,
      rgb(15, 15, 15) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 100%, rgb(17, 17, 17) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(29, 29, 29) 0px, transparent 50%);
}

.button:hover span {
  background-color: rgb(26, 25, 25);
}
h3 {
  @apply text-xl font-bold;
}
.anonymous {
  font-family: "Anonymous Pro";
}
.dashed-button {
  @apply border-[1px] border-dashed border-white rounded-lg px-4 py-2;
}
.error--container {
  background-color: rgba(255, 0, 0, 0.169);
  width: 80vw;
  height: 200px;
  @include flex(true);
  justify-content: center;
  gap: 16px;
  border-radius: 8px;
}

.succuss-button {
  @apply px-4 py-2 rounded-lg bg-green-500 flex gap-4;
}
.danger-button {
  @apply px-4 py-2 rounded-lg bg-red-500 flex gap-4;
}
.warning-button {
  @apply px-4 py-2 rounded-lg bg-yellow-500 flex gap-4;
}
.default-button {
  @apply px-4 py-2 rounded-lg bg-gray-500 flex gap-4;
}
.third-button {
  @apply px-4 py-2 rounded-lg bg-third flex gap-4;
}
.ng-invalid.ng-touched {
  @apply border-red-500
}