div.contain {
    border: 2px solid ; 
    @apply border-gray-500 ; 
    // background-image: url("../../../assets/login-left-effect.svg");
    background-size: cover;
    .second {
        background-color: #0D0D0D;
        // background-image: url("../../../assets/login-effect.svg");
        background-size: cover;     
    }
}
form {
    @apply flex flex-col items-center gap-4 px-4 py-12  h-[600px] justify-center; 
    h1 {
        @apply mb-4 ; 
    }
    div {
        width: 50%;
        margin : 12px 0
    }
    input {
        &.ng-invalid.ng-touched {
            @apply border-red-400  ; 
        }
        @apply border-[1px] border-white rounded-md bg-black ; 
        width: 100% ;
        height: 50px;
        &::placeholder {
            padding-left: 12px;
        }
    }
    button {
        border : 1px solid white ; 
        @apply px-8 py-2 rounded-md font-bold; 
        border-radius: 4px;
        @apply bg-[#0D0D0D] text-white;
        transition: 0.2s ease-in-out    ;
        &:hover {
            background-color: rgb(0, 0, 0)
        }
    }
}
.invalid {
    &.touched {
        border: 2px solid red;
    }
}