<div class="flex items-center justify-between">
  <div class="flex items-center gap-4">
    <lucide-angular name="shield-half" size="48"></lucide-angular>
    <h1>Liste of all Admins</h1>
  </div>  
  <button
    class="new-button"
    *ngIf="current.isSup"
    routerLink="/admin/admins/new"
  >
    <lucide-angular name="shield"></lucide-angular>
    <p class="shield-ellipsis">Add new Admin</p>
  </button>
</div>
<ng-container *ngIf="admins; else load">
  <table class="w-full mt-16 rounded-t-lg overflow-hidden text-center">
    <tr class="h-16 w-full bg-second rounded-t-lg">
      <th>Full-name</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    <tr
      *ngFor="let admin of admins; index as index"
      class="h-14"
      [appTableColor]="index"
    >
      <th>{{ admin.name }} {{ admin.forname }}</th>
      <th>{{ admin.role }}</th>
      <th class="flex gap-6 item-center justify-center h-14">   
        <button
          (click)="handleDelete(admin._id)"
          *ngIf="current.isSup && current._id != admin._id && admin.role!='President'"
        >
          <lucide-angular name="trash"></lucide-angular>
        </button>
      </th>
    </tr>
  </table>
</ng-container>
<ng-template #load>
  <app-loading></app-loading>
</ng-template>
